<div class="container">
  <mcalizzi-nav *ngIf="loaded" class="mb-3" #nav>
    <ng-template ApplyRef="Savings" [disable]="disabled.salaryInfo">
      <savings-info (formSubmitted)="updateDisabled()"></savings-info>
    </ng-template>
    <ng-template ApplyRef="Housing" [disable]="disabled.homeInfo">
      <home-info (formSubmitted)="updateDisabled()"></home-info>
    </ng-template>
    <ng-template ApplyRef="Transportation" [disable]="disabled.carInfo">
      <car-info (formSubmitted)="updateDisabled()"></car-info>
    </ng-template>
    <ng-template ApplyRef="Other" [disable]="disabled.otherInfo">
      <other-info (formSubmitted)="updateDisabled(); nav.navigate('Summary')"></other-info>
    </ng-template>
    <ng-template ApplyRef="Summary" [disable]="disabled.summary">
      <app-summary></app-summary>
    </ng-template>
  </mcalizzi-nav>
</div>