<div class="mt-3"></div>
<mcalizzi-form
  templateName="carInfo"
  (formSubmitted)="submitForm($event)"
  #f
>
  <ng-template #c>
    <div class="row">
      <div class="col-12">
        <mcalizzi-table
          [cr-data]="[
            ['Monthly Payment', f.c.dataOverTime.yvalues[1].payments.total | currency],
            ['Down Payment', f.c.downPayment | currency]
          ]"
        ></mcalizzi-table>
      </div>
      <div class="col-12 col-lg-7">
        <h4 class="text-center">Net Value From Selling Car</h4>
        <mcalizzi-linechart
          [cr-data]="f.c.equityInCarChart"
          [co-xaxis]="'your age' | titlecase"
          [co-yaxis]="'net profit from selling car' | titlecase"
          [co-yaxis-pipe]="currencyLetters"
          co-tooltip-prefix="Age"
        ></mcalizzi-linechart>
      </div>
      <div class="col-12 col-lg-5">
        <h4 class="text-center">Payment Breakdown</h4>
        <mcalizzi-range-pie
          [cr-data]="{
            xvalues: f.c.paymentBreakdownChart.labels,
            yvalues: f.c.paymentBreakdownChart.yvalues
          }"
          [co-yaxis-pipe]="currencyLetters"
          [co-range-offset]="f.c.currentAge"
          cr-range-title="Age"
        >
        </mcalizzi-range-pie>
      </div>
    </div>
  </ng-template>
</mcalizzi-form>
