<mcalizzi-form 
templateName="salaryInfo"
(formSubmitted)="submitForm($event)"
#f>
  <ng-template #c>
    <div class="row">
      <div class="col-12 col-lg-7">
        <h4 class="text-center">Net Worth From Savings</h4>
        <mcalizzi-linechart
          [cr-data]="f.c.netWorthChart"
          [co-xaxis]="'your age' | titlecase"
          [co-yaxis]="'net worth from savings' | titlecase"
          [co-yaxis-pipe]="currencyLetters"
          co-tooltip-prefix="Age"
        ></mcalizzi-linechart>
      </div>
      <div class="col-12 col-lg-5">
        <h4 class="text-center">Salary Breakdown</h4>
        <mcalizzi-range-pie
        [cr-data]="{
          xvalues: f.c.spendingPercentagesChart.labels,
          yvalues: f.c.spendingPercentagesChart.yvalues
        }"
        cr-range-title='Age'
        [co-yaxis-pipe]='currencyLetters'
        [co-range-offset]='f.n.currentAge + 1'>
        </mcalizzi-range-pie>
      </div>
    </div>
  </ng-template>
</mcalizzi-form>